<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
	  <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
	<log4net>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%level {%logger} %type  =  %message%newline%exception" />
			</layout>
		</appender>
		<appender name="FileAppender" type="log4net.Appender.FileAppender">
			<file value="Logs\log.txt" />
			<appendToFile value="true" />
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%level {%logger}  =  %message%newline%exception" />
			</layout>
		</appender>
		<root>
			<level value="DEBUG" />
			<appender-ref ref="ConsoleAppender" />
			<appender-ref ref="FileAppender" />
		</root>
	</log4net>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
	<connectionStrings>
		<add name="BaseDeDatosSorrySlidersEntities" connectionString="%VARIABLEENTORNO%" providerName="System.Data.EntityClient" />
	</connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Moq" publicKeyToken="69f491c39445e920" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.20.69.0" newVersion="4.20.69.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IInicioSesion">
          <reliableSession enabled="true" />
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IMenuPrincipal">
          <reliableSession enabled="true" />
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IRegistroUsuario">
          <reliableSession enabled="true" />
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_ILobby">
          <reliableSession enabled="true" />
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IUnirsePartida">
          <reliableSession enabled="true" />
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_ICrearLobby">
          <reliableSession enabled="true" />
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IListaAmigos">
          <reliableSession enabled="true" />
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_INotificarJugadores">
          <reliableSession enabled="true" />
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IDetallesCuentaUsuario">
          <reliableSession enabled="true" />
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IPuntuacion">
          <reliableSession enabled="true" />
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IChat">
          <reliableSession enabled="true" />
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IJuegoLanzamiento">
          <reliableSession enabled="true" />
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IUsuariosEnLinea">
          <reliableSession enabled="true" />
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IJuegoPuntuacion">
          <reliableSession enabled="true" />
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:5455/ServidorSorrySliders"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IInicioSesion"
        contract="ServidorComunicacionSorrySlidersPrueba.IInicioSesion"
        name="NetTcpBinding_IInicioSesion">
        <identity>
          <userPrincipalName value="LAPTOP-H4AE1QJ9\sulem" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:5455/ServidorSorrySliders"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMenuPrincipal"
        contract="ServidorComunicacionSorrySlidersPrueba.IMenuPrincipal"
        name="NetTcpBinding_IMenuPrincipal">
        <identity>
          <userPrincipalName value="LAPTOP-H4AE1QJ9\sulem" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:5455/ServidorSorrySliders"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IRegistroUsuario"
        contract="ServidorComunicacionSorrySlidersPrueba.IRegistroUsuario"
        name="NetTcpBinding_IRegistroUsuario">
        <identity>
          <userPrincipalName value="LAPTOP-H4AE1QJ9\sulem" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:5455/ServidorSorrySliders"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILobby"
        contract="ServidorComunicacionSorrySlidersPrueba.ILobby" name="NetTcpBinding_ILobby">
        <identity>
          <userPrincipalName value="LAPTOP-H4AE1QJ9\sulem" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:5455/ServidorSorrySliders"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IUnirsePartida"
        contract="ServidorComunicacionSorrySlidersPrueba.IUnirsePartida"
        name="NetTcpBinding_IUnirsePartida">
        <identity>
          <userPrincipalName value="LAPTOP-H4AE1QJ9\sulem" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:5455/ServidorSorrySliders"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICrearLobby"
        contract="ServidorComunicacionSorrySlidersPrueba.ICrearLobby"
        name="NetTcpBinding_ICrearLobby">
        <identity>
          <userPrincipalName value="LAPTOP-H4AE1QJ9\sulem" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:5455/ServidorSorrySliders"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IListaAmigos"
        contract="ServidorComunicacionSorrySlidersPrueba.IListaAmigos"
        name="NetTcpBinding_IListaAmigos">
        <identity>
          <userPrincipalName value="LAPTOP-H4AE1QJ9\sulem" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:5455/ServidorSorrySliders"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_INotificarJugadores"
        contract="ServidorComunicacionSorrySlidersPrueba.INotificarJugadores"
        name="NetTcpBinding_INotificarJugadores">
        <identity>
          <userPrincipalName value="LAPTOP-H4AE1QJ9\sulem" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:5455/ServidorSorrySliders"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDetallesCuentaUsuario"
        contract="ServidorComunicacionSorrySlidersPrueba.IDetallesCuentaUsuario"
        name="NetTcpBinding_IDetallesCuentaUsuario">
        <identity>
          <userPrincipalName value="LAPTOP-H4AE1QJ9\sulem" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:5455/ServidorSorrySliders"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPuntuacion"
        contract="ServidorComunicacionSorrySlidersPrueba.IPuntuacion"
        name="NetTcpBinding_IPuntuacion">
        <identity>
          <userPrincipalName value="LAPTOP-H4AE1QJ9\sulem" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:5455/ServidorSorrySliders"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IChat"
        contract="ServidorComunicacionSorrySlidersPrueba.IChat" name="NetTcpBinding_IChat">
        <identity>
          <userPrincipalName value="LAPTOP-H4AE1QJ9\sulem" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:5455/ServidorSorrySliders"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IJuegoLanzamiento"
        contract="ServidorComunicacionSorrySlidersPrueba.IJuegoLanzamiento"
        name="NetTcpBinding_IJuegoLanzamiento">
        <identity>
          <userPrincipalName value="LAPTOP-H4AE1QJ9\sulem" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:5455/ServidorSorrySliders"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IUsuariosEnLinea"
        contract="ServidorComunicacionSorrySlidersPrueba.IUsuariosEnLinea"
        name="NetTcpBinding_IUsuariosEnLinea">
        <identity>
          <userPrincipalName value="LAPTOP-H4AE1QJ9\sulem" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:5455/ServidorSorrySliders"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IJuegoPuntuacion"
        contract="ServidorComunicacionSorrySlidersPrueba.IJuegoPuntuacion"
        name="NetTcpBinding_IJuegoPuntuacion">
        <identity>
          <userPrincipalName value="LAPTOP-H4AE1QJ9\sulem" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>